/data/generated
/checkpoints
/runs
/archive
*.o
**/*.pyc
*.pyc
**/__pycache__
**/qdyn
**/*.png
/figure-creation
**/slurm_scripts
playground.ipynb
.vscode/
/slurm_scripts
/scripts

*.egg-info
*_temp
*.pth
*.pt
*.db
*.p
*.pkl