/data/generated
/checkpoints
/runs
/archive
*.o
**/*.pyc
*.pyc
**/__pycache__
**/qdyn
**/run_repeated_cache/
**/*.png
/figure-creation
model_test_set_variation_stats.py
visualize_outputs_sequential.ipynb
playground.ipynb
cdw_vis.ipynb
/configs/*
*/playground.*